@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient( to bottom, #D9AB9A 9%, #F2C49B, #4A1B8C) ;
    background-attachment: fixed;
}
main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #37146992;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{ color: #5E308C;
    text-align: center;
    text-shadow: 1px 1px 2px #5E308C;

}
h2{
    color: #A676A3;
}
p{
    text-align: justify;
}